@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Common Shared Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.containers-width {
  width: 85%;
  max-width: 1150px;
  text-align: center;
  margin: 0 auto;
  /* border: 2px solid tomato; */
}
.section-heading {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}

.descriptions {
  color: rgba(19, 19, 24, 0.7);
  font-weight: 400;
  margin-top: 1rem;
}
.btn-primary {
  color: white;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 800;
  border-radius: 8px;
  background: #ff5400;
  padding: 1rem 2rem;
  border-style: none;
  margin-top: 1.8rem;
  cursor: pointer;
}

/* Nav Section starts */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.name-logo {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.nav-heading {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
}
.nav-logo {
  height: 55px;
  width: 45px;
}


.nav-bar {
  display: flex;
  list-style: none;
  gap: 2.5rem;
}
.nav-bar a {
  text-decoration: none;
  color: black;
}
.heading--orange {
  color: #ff5400;
}
/* Nav Section end */



/* Banner section starts here */
.banner {
  /* min-height: 500px; */
  background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/banner.png');;
  border-radius: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6.1rem;
  margin-top: 3rem;
}
.banner-title {
  color: white;
  font-size: 4rem;
  font-weight: 800;
}
.banner-description {
  color: white;
  max-width: 650px;
  margin: 0 auto;
}
.banner-inputs {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.30);
  border-radius: 8px;
  margin-top: 3rem;

}
.banner-inputs input , select  {
  color: rgba(19, 19, 24, 0.50);
border-radius: 8px;
background-color:white;
border-style: none;
padding: 1rem;
flex: 1;
}
.btn-banner {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  padding: 1rem 2rem;
  flex: 1;
}

/* Banner section ends here */



/* Our Popular Tours Section */
.popular-tour {
  display: flex;
  gap: 3rem;
  margin-top: 6rem;
}
.popular-tour--texts {
  text-align: left;
  flex: 1;
}
.popular-tour--contents {
  flex: 1;
}
.popular-ul {
  padding-left: 2rem;
}
.popular-ul li {
  margin-top: 0.5rem;
}
/* .popular-tour--image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
} */

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.destination-container {
    margin-top: 3rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,300px);
}
.maldives {
  grid-column: 1/7;
}
.indonesia {
  grid-column: 7/13;
}
.srilanka {
  grid-column: 1/5;
}
.north-america {
  grid-column: 5/10;
}
.kashmir {
  grid-column: 10/13;
}
.bangladesh {
  grid-column: 1/6;
}
.bandarban {
  grid-column: 6/13;
}


/* Choose your destination section */
.choose-container {
    margin-top: 6rem;
}
.choose-des {
    max-width: 600px;
    margin: 0 auto;
}

.scene {
    position: relative;
}
.scene-name {
    font-size: 2rem;
    color: white;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Why Chose us section */
.why-us {
  margin-top: 6rem;
}
.card-container {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  row-gap: 1.5rem;
}
.card {
  border-radius: 1rem;
  width: 45%;
  padding: 2rem;
  text-align: left;
}
.card1 {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.card2 {
  border: 1px solid rgba(41, 206, 246, 0.2);

  background-color: rgba(41, 206, 246, 0.05);
}

.card3 {
  border: 1px solid rgba(233, 68, 68, 0.2);

  background-color: rgba(233, 68, 68, 0.05);
}

.card img {
  width: 4rem;
  height: 4rem;
  margin-bottom: 2rem;
}
.smaller-heading {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
}
.why-us-description {
  max-width: 640px;
  margin: 0 auto;
  margin-top: 1.5rem;
}

/* Newsletter Section */
.newsletter-container {
  margin-top: 6rem;
  margin-bottom: 6rem;
  display: flex;
  gap: 1.5rem;
  text-align: left;
}
.newsletter-inputs {
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 2.5rem;
}

.newsletter-inputs input {
    color: rgba(19, 19, 24, 0.3);
  border-radius: 8px;
  background-color: rgba(19, 19, 24, 0.05);
  border-style: none;
  width: 100%;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
::placeholder {
    color: rgba(19, 19, 24, 0.3);
}

.btn-subs {
    width: 100%;
    margin-top: 1rem;
}
.newsletter-hr {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}
.newsletter-banner {
    width: 100%;
    position: relative;
}
.btn-discount {
    font-size: 2rem;
    font-weight: 800;
    position: absolute;
    bottom: 5.8rem;
    right: -.5rem;
    rotate: -45deg;
}
.btn-discount span {
    font-size: 1.5rem;
    font-weight: 400;
}
/* footer Section */
.footer-section {
  background: rgba(19, 19, 24, 0.05);
  padding: 6rem;
}
/* .footer-head {
  display: flex;
  justify-content: center;
  gap: 1rem;
} */

/* .footer-heading {
  color: #131318;
  font-size: 2rem;
  font-weight: 800;
} */

/* .footer-logo {
  height: 45px;
  width: 40px;
} */
.footer-des {
  max-width: 770px;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1.8rem;
}
.important-links {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.important-links img {
  height: 1.5rem;
}
.footer-hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-color: rgba(19, 19, 24, 0.1);
}

/* Responsive styles */

/* Responsive for mobile devices */
@media screen and (max-width: 600px) {
  /* Shared */
  * {
    font-size: 12px;
  }

  /* flex column */
  .popular-tour,
  .card-container,
  .newsletter-container,
  .banner-inputs {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }
  .banner {
    padding: 2rem;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-inputs * {
    width: 100%;
  }
  /* choose your destination */
  .destination-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7,300px);
  }
  .maldives {
    grid-column: 1/ 2;
  }
  .indonesia {
    grid-column: 1/ 2;

  }
  .srilanka {
    grid-column: 1/ 2;
  }
  .north-america {
    grid-column: 1/ 2;
  }
  .kashmir {
    grid-column: 1/ 2;

  }
  .bangladesh {
    grid-column: 1/ 2;

  }
  .bandarban {
    grid-column: 1/ 2;

  }




  /* footer section */
  .footer-section {
    padding: 1.5rem;
  }
  .nav-heading {
    font-size: 1.5rem;
  }
  .nav-logo {
    height: 2.5rem;
    width: 2.5rem;
  }
  .footer-hr {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
  }
}
